
$first-color-alt: #306AD9;
$first-color: #4177DC;
$titre-color: #F1F2F3;
$text-color: #BABEC4;
$text-color-light: #888B91;
$white-color: #FFFFFF;
$body-color: #0A0A0B;
$container-color: #111213;
$h1-font-size: 36px;
$h2-font-size: 24px;
$h3-font-size: 20px;
$normal-font-size: 16px;
$small-font-size: 14px;
$smaller-font-size: 13px;
